<div class="${this.options.dialog.className}">
  <div id="content-popup" class="${this.options.content.className}">
    <div class="${this.options.header.className}">
      <h5 class="modal-title">${this.title}</h5>
    </div>
    <div class="${this.options.body.className}">
      ${this._getFormItems()}
    </div>
    <div class="${this.options.footer.className}">
      <button class="btn btn-secondary">Cancel</button>
      <button class="btn btn-primary">Accept</button>
    </div>
  </div>
</div>
